## Auto generated providers.tf ##
## Updated on: {{ timestamp }} ##

provider "aws" {
  region = "{{ provider_region }}"
  assume_role {
    role_arn    = "{{ target_admin_role_arn }}"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}


# Alternate Provider pointing to Root(MasterPayer)
provider "aws" {
  alias  = "ssogroups"
  region = "{{ provider_region }}"
  assume_role {
#    role_arn    = "arn:aws:iam::161277832128:role/AWSAFTExecution"
     role_arn    = "arn:aws:iam::383048660984:role/AWSAFTExecution"
  }
  default_tags {
    tags = {
      managed_by                  = "AFT"
    }
  }
}